@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main {
  display: flex;
  justify-content: center;
}
.answer {
  display: none;
  margin-top: 50px;
  justify-content: center;
}
body {
  overflow-x: hidden;
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: Poppins;
}

.inside_answer {
  color: white;
  margin-bottom: 100px;
  font-size: 20px;
  padding-right: 50px;
  padding-left: 50px;
  background: rgb(238, 129, 255);
  background: linear-gradient(
    144deg,
    rgba(238, 129, 255, 0.7133228291316527) 7%,
    rgba(187, 183, 196, 1) 93%
  );
  border-radius: 5%;
  box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.4);
}
.btn {
  background-color: #4caf50;
  color: white;
  border: 2px solid #4caf50;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  margin: 10px;
}
.btn:hover {
  border: 2px solid #4caf50;
  background-color: white;
  color: #4caf50;
}
.icon {
  padding-left: 50px;
  height: 150px;
  width: 150px;
}

.input {
  text-align: center;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 100px;
  background: rgb(238, 129, 255);
  background: linear-gradient(
    144deg,
    rgba(238, 129, 255, 0.7133228291316527) 7%,
    rgba(187, 183, 196, 1) 93%
  );
}
.poster p {
  font-size: 20px;
}
::placeholder {
  color: white;
}
.city {
  font-size: 50px;
}
.weather {
  padding: 0;
  font-size: 40px;
}
